  /* Navbar Styles */
  #navbarheader{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }
  
  .navbar{
    width: 100%;
  }

  .logo img {
    height: 60px;
  }

  .logo img:hover {
    height: 60px;
    cursor: pointer;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: right;
    justify-content: center;
  }

  .nav-links li {
    margin: 0 15px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    text-decoration: none;
  }

  .nav-links li a.active {
    color: #0a7421;
  }

  .nav-links li a.active::after {
    content: "";
    width: 50%;
    height: 2px;
    background: #0a7421;
    position: absolute;
    bottom: -4px;
    left: 0px;
  }

  .nav-links li a.hover::after{
    content: "";
    width: 50%;
    height: 2px;
    background: #0a7421;
    position: absolute;
    bottom: -4px;
    left: 0px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }

  .nav-links a:hover
  {
    color:#0a7421;
    text-decoration:none;
  }
  
  .icons{
    display: flex;
    align-items: right;
  }

  .icons a {
    color: white;
    font-size: 20px;
    margin-left: 10px;
  }

  .icons a.favs:hover
  {
    color: #c80e0e;
  }

  .icons a.cart:hover
  {
    color: #000000;
  }

  .icons a.user:hover
  {
    color: #0a7421;
  }
  
  /*Home Page*/
  #hero{
    background-image: url(images/hero.webp);
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;;
    align-items: flex-start;
    justify-content: center;
    background-position: top 0 right 0;
    background-size: contain;
    background-color: #e6e8f2;
    padding: 0 80px;
    background-repeat: no-repeat;
  }

  #hero h4 {
    padding-bottom: 15px;
  }
  
  #hero h1 {
    color: rgb(59, 160, 194);
  }

  #hero button{
    background-color: rgb(59, 160, 194);
    color: white;
    border: 0;
    padding: 10px 65px 10px 65px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 700;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  #hero button:hover{
    background-color: white;
    border: 1px solid #007bb6;
    transition: 0.2s;
    color: #007bb6;
  }

  #heroL{
    background-image: url(images/luvas.webp);
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-position: top 0 right 0;
    background-size: contain;
    background-color: #e6e8f2;
    padding: 0 80px;
    background-repeat: no-repeat;
  }

  #heroL h4 {
    color: rgb(30, 29, 29);
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
  }
  
  #heroL h1 {
    color: rgb(59, 160, 194);
  }

  #heroL h2 {
    font-size: 22px;
  }
  

  #heroL button{
    background-color: rgb(59, 160, 194);
    color: white;
    border: 0;
    padding: 10px 65px 10px 65px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 700;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  #heroL button:hover{
    background-color: white;
    border: 1px solid #007bb6;
    transition: 0.2s;
    color: #007bb6;
  }

  #sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/carrinha_lateral.webp);
    height: 30vh;
    background-size: contain;
    background-color: #e6e8f2;
    background-position: top 0 left 0;
    min-width: 850px;
    align-items: flex-end;
    padding: 0 30px;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  #sm-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/logo5.png);
    height: 30vh;
    background-size: contain;
    background-color: #e6e8f2;
    background-position: top 0 left 0;
    min-width: 850px;
    align-items: flex-end;
    padding: 0 30px;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  #sm-banner h4{
    color: rgb(59, 160, 194);
    font-size: 40px;
    font-weight: 700;
  }

  #sm-banner span{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 15px;
  }

  #sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .section-p1{
    padding: 40px 80px;
  }

  #featured{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 90px;
  }

  #featured .fe-box{
    width: 200px;
    text-align: center;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    padding: 25px 15px;
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
  }

  #featured .fe-box h6{
    font-size: 18px;
    font-weight: 700;
  }

  #featured .fe-box img{
    width: 100%;
    margin-bottom: 30px;
  }

  #product1{
    text-align: center;
  }

  #product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    position: relative;
  }

  #product1 .pro .des{
    text-align: start;
    padding: 10px 0;
  }

  #product1 .pro .des span{
    color: #606063;
    font-size: 12px;
  }

  #product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 20px;
  }

  #product1 .pro .des i{
    font-size: 18px;
    color: rgb(243,181,25);
  }

  #product1 .pro .des h4{
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color: #088178
  }

  #product1 .pro .bag{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    line-height: 35px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    bottom: 20px;
    right: 10px;
    position: absolute;
  }

  #product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transition: 0.2 ease ;

  }

  #product1 .pro img{
    width: 100%;
    border-radius: 20px;
  }

  #product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
  }


  .section-m1{
    padding: 40px 0px;
  }

  #banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/balde.webp);
    background-color: rgb(116, 204, 234);
    height: 30vh;
    background-size: contain;
    background-position: top 0 right 0;
    width: 100%;
    padding: 0 30px;
    background-repeat: no-repeat;
  }

  button.normal{
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
    color: #007bb6;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
  }

  button.normal:hover{
    background-color: #007bb6;
    color: white;
  }

  button.white{
    font-size: 14px;
    font-weight: 800;
    padding: 15px 30px;
    color: white;
    background-color: #53aad2;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.2s;
  }

  #hero h1{
    font-size: 70px;
    font-weight: 700;
    color: #007bb6;
  }
  
  #hero h2{
    font-size: 45px;
    font-weight: 700;
  }

  #hero h4{
    font-size: 30px;
    font-weight: 500;
  }

  #hero p{
    font-size: 18px;
    font-weight: 500;
    color: #606063;
  }

  #sm-banner .banner-box:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    transition: 0.2 ease ;
  }

  #sm-banner .banner-box2:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    transition: 0.2 ease ;
  }

  #sm-banner button:hover {
    background-color: white;
    border: 1px solid #007bb6;
    transition: 0.2s;
    color: #007bb6;
  }

  #banner h4{
    font-size: 50px;
    font-weight: 700;
    color: white;
  }

  #banner h2{
    font-size: 30px;
    font-weight: 700;
    padding: 10px 0;
    color: white;
  }
  
  
  /* Promotions Styles */
  .promotions {
    text-align: center;
    margin: 40px 0;
  }

    .phone {
      float: left;
  }

  .social { 
    float: right;
  }

  .container-nav{
    margin-left: 0px;
  }

  .social-icons
  {
    padding-left:0;
    margin-bottom:0;
    list-style:none
  }
  .social-icons li
  {
    display:inline-block;
    margin-bottom:4px
  }
  .social-icons li.title
  {
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
  }
  .social-icons a{
    background-color:#d6dde4;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .social-icons a:active,.social-icons a:focus,.social-icons a:hover
  {
    color:#fff;
    background-color:#29aafe
  }
  .social-icons.size-sm a
  {
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
  }
  .social-icons a.facebook:hover
  {
    background-color:#3b5998
  }
  .social-icons a.twitter:hover
  {
    background-color:#00aced
  }
  .social-icons a.linkedin:hover
  {
    background-color:#007bb6
  }
  .social-icons a.instagram:hover
  {
    background-color:#ea4c89
  }
  @media (max-width:767px)
  {
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
  }

  footer {
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 14px;
    display: flex; /* added display: flex */
    justify-content: space-between;
    align-items: center; /* added align-items: center */
  }

  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* changed from space-between to center */
  }

  .footer-columns div {
    width: 30%;
    margin-bottom: 20px;
  }

  .footer-columns h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .footer-columns p, .footer-columns ul {
    margin: 0;
    padding: 0;
  }

  .footer-columns li {
    list-style: none;
    margin-bottom: 5px;
  }

  .footer-columns a {
    text-decoration: none;
    color: #333;
  }

  .footer-columns a:hover {
    color: #666;
  }

  .copyright{
    text-align: center;
    font-size: 12px;
    color: #666;
  }

  .contacts {
    align-items: center;
    margin-bottom: 20px;
  }

  .about-us {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  #pagination .activePage{
    background-color: #088178;
    color: black;
    border: 3px solid #000000;
  }

  #pagination .activePage:hover{
    background-color: #fff;
    color: black;
    border: 2px solid #000000;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 600;
  }

  #pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
  }

  #pagination a:hover{
    text-decoration: none;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    color: #088178;
    font-weight: 600;
    border: 5px;
    border: 1px solid #088178
  }

  #pagination a i{
    font-size: 16px;
    font-weight: 600;
  }


  #proDetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
  }


  .small-img-group{
    display: flex;
    justify-content: space-between;
  }

  .small-img-col{
    flex-basis: 24%;
    cursor: pointer;
  }

  #proDetails{
    display: flex;
    margin-top: 20px;
  }

  #proDetails .single-pro-details{
    width: 50%;
    padding-top: 15px;
  }

  #proDetails .single-pro-details h4{
    padding: 40px 0 20px 0;
  }

  #proDetails .single-pro-details h2{
    font-size: 26px;
  }

  #proDetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  #proDetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
  }

  #proDetails .single-pro-details button{
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #088178;
    border: none;
    cursor: pointer;
  }

  #proDetails .single-pro-details button:hover{
    background-color: #fff;
    color: #088178;
    border: 1px solid #088178;
  }

  #proDetails .single-pro-details input:focus{
    outline: none;
  }

  #proDetails .single-pro-details span{
    line-height: 25px;
  }

  #MainImg{
    border: 1px solid #000000;
    border-radius: 10px;
  }

  .small-img{
    border: 1px solid #000000;
    border-radius: 10px;
  }

  #bannerContact{
    background-color: #e6e8f2;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left ;
    text-align: left;
    background-image: url(images/banner.jpg);
    height: 20vh;
    width: 100%;
    padding: 0 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    
  }

  #bannerContact h1 {
    font-size: 40px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
  }

  #bannerContact h1 {
    font-size: 40px;
    font-weight: 600;
    margin-left: 10px;
  }

  #contact-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  #contact-details .details{
    width: 40%;
  }

  #contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
    padding-bottom: 6px;
    margin-bottom: 50px;
  }

  #contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
  }

  #contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
  }

  #contact-details .details li i p{
    margin: 0;
    font-size: 14px;
  }

  #contact-details .map{
    width: 55%;
    height: 400px;

  }

  #contact-details .map iframe{
    width: 100%;
    height: 100%;
  }
  
  #form-details{
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 30px;
    border: 1px solid #e1e1e1;
  }

  #form-details form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  #form-details form span{
    font-size:12px;
  }

  #form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
  }

  #form-details form input,
  #form-details form textarea{
    width: 70%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    outline: none;
    background-color: #e6e8f2;
  }

  #form-details button{
    background-color: rgb(59, 160, 194);
    color: white;
    border: 0;
    padding: 10px 65px 10px 65px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 700;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-bottom: 20px;
  }

  #form-details button:hover{
    background-color: white;
    border: 1px solid #007bb6;
    transition: 0.2s;
    color: #007bb6;
  }

  #valuesText{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #valuesText h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    line-height: 30px;
    margin-top: 60px;
    margin-bottom: 15px;  
    color: #007bb6;
  }

  #valuesText span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #1c9dcb;
  }

  #heroV{
    background-image: url(images/values.png);
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-position: top 0 right 0;
    background-size: contain;
    background-color: #e6e8f2;
    padding: 0 80px;
    background-repeat: no-repeat;
  }

  #heroV h4 {
    color: rgb(30, 29, 29);
    padding-bottom: 10px;
    font-size: 18px;
  }
  
  #heroV h1 {
    color: rgb(59, 160, 194);
  }

  #heroV h2 {
    font-size: 22px;
  }

  #heroV h2 strong {
    font-size: 22px;
    color: #007bb6;
  }
  

  #heroV button{
    background-color: rgb(59, 160, 194);
    color: white;
    border: 0;
    padding: 10px 65px 10px 65px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 700;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  #heroV button:hover{
    background-color: white;
    border: 1px solid #007bb6;
    transition: 0.2s;
    color: #007bb6;
  }

  

  @media(max-width:7){
    .nav-links {
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: 0px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6e3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
    }
 }

  @media (max-width: 477px) {
    #header {
      padding: 10px 30px;
    }

    #header {
      padding: 0 20px;
      background-position: 55%;
    }

    #h2{
      font-size: 32px;
    }

    h1{
      font-size: 38px;
    }
  }

